{%extends "meta.html" %}

{% block head %}
<title>{{article.title}}</title>

<meta property="og:title" content="{{article.title}}" />
<meta property="og:description" content="{{article.teaser()}}" />
<meta property="og:type" content="article" />
{% if let Some(domain) = config.domain %}
<meta property="og:url" content="https://{{domain}}/article/{{article.id}}" />
{% endif %}
{% endblock %}

{% block body %}

<header>
    <p><i>{{config.author}} | {{article.published()}}</i></p>
    <h1>{{article.title}}</h1>
</header>

{{article.content.clone()|markdown(options)}}

<h3>Comments</h3>

<form method="post">
    <input name="author" type="text" placeholder="Your name" />
    <textarea name="content" placeholder="Your comment"></textarea>
    <input type="hidden" name="article" value="{{article.id}}" />
    <input type="submit" value="Submit Comment" />
</form>

{% for comment in comments %}
<article>
    <a href="#{{comment.id}}">
        <h5 id="{{comment.id}}">{{comment.author}} | {{comment.published()}}</h5>
    </a>
    <p>{{comment.content}}</p>
</article>
{% endfor %}

{% endblock %}