<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    {% block head %}
    <title>{{config.blog_name}}</title>
    {% endblock %}
</head>

<body>
    <header>
        <nav role="navigation">
            <h1><a href="/" class="brand">{{config.blog_name}}</a></h1>
        </nav>
    </header>
    <main class="content">
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        {%for (title, link) in config.footer_links %}
        <a href="{{link}}">{{title}}</a>
        {% endfor %}
    </footer>
</body>

</html>